
@{
    Layout = null;
}




<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--====================================================================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--====================================================================================================================================-->
    <link rel="stylesheet" href="css/style.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="~/Content/css/login.css" rel="stylesheet" />

    <title>Inicio de Sesion</title>
</head>
<body>
   

    <div class="container mt-5 ">
        <br>	<br>
        <div class="row">
            <div class="col"><img src="https://i0.wp.com/www.julianmarquina.es/wp-content/uploads/Las-bibliotecas-escuchan-las-voces-de-las-personas-que-se-han-quedado-huerfanas-de-bibliotecas-libros-y-lectura.jpg?fit=1000%2C667&ssl=1" width="450" height="450" class="Avatar"></div>
            <div class="col">

                <form class="login100-form validate-form" action="@Url.Action("Index","Login")" method="post">
                    <br> <br> <br>
                    <h3 align="center">INICIO DE SESIÓN</h3> <br>
                    <div class="container">
                        <i class="fa fa-users"></i>
                        <label for="">Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" placeholder="Email">
                        <br>
                        <i class="fa fa-key"></i>
                        <label for="">Contraseña</label>
                        <input type="password" class="form-control" name="clave" placeholder="Contraseña">
                    </div>
                    <br>
                    <div class="form-group">
                        @{if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            }
                        }
                    </div>
                   
                    <div class="col">
                        <button class="btn btn-success btn-lg btn-block" type="submit">

                            INICIAR
                        </button>
                    </div>

                </form>



               

            </div>
        </div>
     
        <br>
    </div>
    <br> <br> <br> <br>
   

    <!--====================================================================================================================================-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!--====================================================================================================================================-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--====================================================================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>