body {
    background-image: url(iconos/5.png); /* traemos la imagen */
    background-size: cover; /* Para que se adapte al fondo */
    background-repeat: no-repeat; /* Para que no se repita la imagen */
    background-position: center; /* para que se posicione en el centro */
    background-attachment: fixed; /* Para que se adapte al fondo */
}
